{% extends 'layout.html' %}
{% block body_content %}

<h2>{{playlist.name}}</h2>
{% for song in playlist.songs_playlist %}
<p>Title: {{song.title}}&nbsp; Artist: {{song.artist}}&nbsp; Album: {{song.album}}</p>
<div>
<form action="{{ url_for('delete_song', number = song.id) }}">
        <button type="submit">Delete song</button>
</form>
</div>
{% endfor %}
<br>
<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.artist.label }}
            {{ form.artist }}
            <br>
            {{ form.album.label }}
            {{ form.album }}
            <br>
            <br>
            {{ form.submit }}
        </form>
    </div> 
<form action="{{ url_for('change_playlist_name', number = playlist.id) }}">
        <button type="submit">Change Playlist Name</button>
</form>
<form action="{{ url_for('delete_playlist', number = playlist.id) }}">
        <button type="submit">Delete playlist</button>
</form>
{% endblock %}
