{% extends 'layout.html' %}
{% block body_content %}

<h2>{{playlist.name}}</h2>
{% for song in playlist.songs_playlist %}
<p>Title: {{song.title}} Artist: {{song.artist}} Album: {{song.album}}</p>
{% endfor %}
<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.artist.label }}
            {{ form.artist }}
            <br>
            {{ form.album.label }}
            {{ form.album }}
            <br>
            <br>
            {{ form.submit }}
        </form>
    </div>   

{% endblock %}
