{% extends 'layout.html' %}
{% block body_content %}

<h2>Current Playlists</h2>
{% for playlist in playlists %}
<h3>{{playlist.name}} <a href="{{ url_for('individual_playlist', number = playlist.id) }}">view</a></h3>
{% endfor %}
<h2>Add a new playlist</h2>
<div class='form'>
	<form method='POST' action=''>
	    {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                </div>
                {% endif %}
		<br>
		<br>
		<div class='form_group'>
                {{ form.submit }}
            </div
	</form>
</div>
{% endblock %}
